.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .login-cont {
    display: flex;
    align-items: stretch;
    justify-content: center;
    height: 70%;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    padding: 0px;
  

    .left {
      width: 60%;
      background: rgb(118, 134, 189);
    }

    .right {
      width: 40%;
      padding: 20px;
      background: var(--white);
      display: flex;
      flex-direction: column;
      gap: calc(var(--unit));
      align-items: center;
      justify-content: center;

      a{
        display: flex;
        justify-content: flex-end;
        width: 100%;
        cursor: pointer;
       
      }

    }
  }
}
