.login{

    .login-cont{


        display: flex;
        align-items: center;
        justify-content: center;

        .left{
            width: 60%;
            padding: 10px;
        }

        .right{
            width: 40%;
            
        }
    }
    
}