.approvalletter-parent {
  .approvalletter-cont {
    display: flex;
    // flex-direction: column;

    //right Form data
    .letter-box {
      display: flex;
      gap: var(--unit);
      // flex-direction: column;
      .left-form {
        width: 40%;
        display: flex;
        border: 1px solid red;
        padding: 10px;
        background: rgba(0, 0, 0, 0.041);
        border-radius: 10px;
        label {
          display: flex;
        }
      }

      .right-letter {
        width: 60%;
        background: rgba(0, 0, 0, 0.041);
        padding: 20px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .date {
          display: flex;
          align-items: flex-end;
          justify-content: flex-end;
        }
        .main-info {
          text-align: start;
          padding: 20px 0px 0px 0px;
        }
        .subject {
          font-weight: bold;
          text-align: start;
        }
        .user,
        .approvar,
        .finance {
          display: flex;
          justify-content: flex-end;
          flex-direction: column;
          align-items: flex-end;
          gap: 30px;
          span {
            font-weight: 600;
          }
        }
        .approvar {
          justify-content: flex-start;
          align-items: flex-start;
        }
      }
    }
  }
}
