.input {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: calc(var(--unit) / 4);
  position: relative;

  label {
    font-size: calc(var(--unit));
  }
  .wraper {
    width: 100%;
    position: relative;
    input {
      width: 100%;
      height: 40px;
      outline: none;
      // border: 1px solid grey;
      border-radius: 8px;
      padding: 20px 10px;
      background-color: #efeeea;
      border: none;

      &.error {
        border-color: orangered;
      }

      &:focus {
        border-color: var(--accent);
      }

      
    }

    .eye-icon {
      position: absolute;
      top: 13px;
      right: 10px;
      cursor: pointer;
    }
  }
}
