.input {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: calc(var(--unit) / 4);
  position: relative;

  label {
    font-size: calc(var(--unit));
    padding-left: 10px;
  }
  .wraper {
    width: 100%;
    position: relative;

    .label_error {
      color: orangered;
    }

    input {
      width: 100%;
      height: 40px;
      outline: none;
      border: 1px solid rgba(128, 128, 128, 0.185);
      border-radius: 8px;
      padding: 10px 10px;
      background-color: #efeeea91;
      overflow: hidden;

      &.extralabel{
        padding-left: 60px;
      }

      &.error {
        border-color: orangered;
      }

      &:focus {
        border-color: var(--accent);
      }
    }

    .extra_label {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      background-color: var(--accent);
      color: var(--white);
      width: 50PX;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px;
      border-radius: 8px 0px 0px 8px;
    }

    .eye-icon {
      position: absolute;
      top: 13px;
      right: 10px;
      cursor: pointer;
    }
  }
}
