.page_parent {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  // background-color: white;
  position: relative;

  .sidebar {
    width: 50px;
    height: 100svh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: var(--unit);
    background-color: var(--accent);
    overflow: hidden;
    transition: var(--trans);
    z-index: 99;

    &.active {
      width: 250px;

      .nav_section {
        .nav {
        }
      }
    }

    .logo {
      width: 100%;

      height: calc(100% - 80% - 10%);
    }
    .nav_section {
      width: 100%;
      height: calc(100% - 20%);
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: calc(var(--unit) + 8px);

      .nav {
        color: var(--white);
        width: 100%;
        // transform: translateX(20px);
        padding: 10px;
        display: flex;
        border-radius: 25px 0px 0px 25px;
        position: relative;
        justify-content: flex-start;
        align-items: center;
        // color: white;
        gap: calc(var(--unit));
        font-size: calc(var(--unit));


        .drop_down {
          position: absolute;
          top: 100%;
          left: 50%;
          transform: translateX(-50%);
          width: 100%;
          z-index: 99;
          display: none;
          padding: calc(var(--unit) / 2);
          .list {
            background-color: white;
            border-radius: 10px;
            color: var(--accent);

            width: calc(100% - 10px);
             display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            overflow: hidden;

            .dropnav {
              padding: 10px 10px;
              width: 100%;
              border-bottom: 1px solid rgb(221, 221, 221);
              text-align: left;

              &.active{
               
                background-color: rgb(221, 221, 221);
                color: var(--accent);
         
              
              }

              &:hover{
                background-color: rgb(221, 221, 221);
                color: var(--accent);
         
              }
            }
          }
        }

        &.active {
          background-color: white;
          color: var(--accent);

          span {
            &.fill_icon {
              display: flex;
            }

            &.line_icon {
              display: none;
            }
          }

          &::after {
            display: flex;
          }

          &::before {
            display: flex;
          }
        }

        &:hover {
          background-color: white;
          color: var(--accent);

          span {
            &.fill_icon {
              display: flex;
            }

            &.line_icon {
              display: none;
            }
          }

          &::after {
            display: flex;
            // right: 2px;
          }

          &::before {
            display: flex;
          }

          .drop_down {
            display: flex;
          }
        }

        span {
          display: flex;
          justify-content: center;
          align-items: center;

          svg {
            font-size: calc(var(--unit) + 10px);
            color: inherit;
          }

          &.fill_icon {
            display: none;
          }

          &.line_icon {
            display: flex;
            color: white;
          }
        }

        &::after {
          content: "";
          position: absolute;
          height: 15px;
          display: none;
          aspect-ratio: 1;
          background-color: var(--accent);
          // background-color: red;
          right: -0.7px;
          top: -33%;
          border-radius: 0px 0px 18px 0px;
          box-shadow: 4px 6px 0px white;
        }

        &::before {
          content: "";
          position: absolute;
          bottom: -33%;
          right: -1px;
          display: none;
          width: 15px;
          aspect-ratio: 1;
          background-color: var(--accent);
          // background-color: red;

          border-radius: 0px 18px 0px 0px;
          box-shadow: 5px -6px 0px white;
        }
      }
    }

    .logout {
      width: 100%;
      height: calc(100% - 80% - 10%);
    }
  }

  .section {
    width: calc(100% - 50px);
    height: auto;
    margin-left: 50px;
    // overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--trans);
    padding: 10px 10px;

    &.active {
      width: calc(100% - 250px);
      margin-left: 250px;
    }
  }
}
