:root {
  --accent: #273f4f;
  --accent-light: #f7f9fb;
  --black: #0a0c00;
  --white: #fff;
  --grey: #f0f0f0;
  --trans: all 0.33s ease-in-out;
  --trans-q: all 0.15s ease-in-out;
  --shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  --width: 1200px;
  --unit: 16px;
  --input-outline: 1px solid rgb(194, 194, 194);
  --bg-color: rgb(218, 218, 218);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Quicksand", serif;
  // font-size: calc(var(--unit));
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Sacramento&display=swap");
// font-family: "Montserrat", sans-serif;
// font-family: "Sacramento", serif;
// font-family: "Quicksand", serif;

body {
  background-color: #efeeea;
}
.parent {
  width: 100%;

  .cont {
    max-width: var(--width);
    padding: 0px 10px;
    margin: auto;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

a,
p,
.para,
strong {
  line-height: 150%;
  letter-spacing: 1px;
  word-spacing: 2px;
  // font-size: clamp(0.95rem, 0.95rem + 0.25vw, 1rem);
  max-width: 65ch;
  text-align: center;
  font-weight: 100;

  span {
    font-size: inherit !important;
    font-weight: inherit !important;
    font-family: inherit !important;
    color: var(--accent);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600 !important;
  line-height: 100%;
  padding: 10px 0;

  span {
    font-size: inherit !important;
    font-weight: inherit !important;
    font-family: inherit !important;
    color: var(--accent);
  }
}

.btn {
  width: auto;
  background-color: var(--accent);
  padding: 10px 20px;
  color: var(--white);
  border-radius: 8px;
  border: 1px solid var(--accent);
  transition: var(--trans-q);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  height: 50px;

  &:hover {
    background-color: transparent;
    color: var(--accent);
  }
}

.texarea {
  width: 100%;
}

.form-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(var(--unit));

 

  .half-row {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.input {
  width: 100%;
}
